<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div>
    <label for="email"> email </label>
    <input id="email" type="text" formControlName="email" />
  </div>

  <div>
    <label for="password"> Password </label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <div>
    <label for="confirmPassword"> Confirm Password </label>
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
    />
  </div>

  <button class="button" type="submit">Register</button>
</form>
